.pages{

  margin: auto;
  background-color: rgba(128, 128, 128, 0.219);

}

/* Estilização NavBar */

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 75px;
  overflow: hidden;
  background-color: rgba(0,0,0,.9);
  height: 60px;
}

li {
  float: left;
  
  
}

li a, .dropbtn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #dfdededc;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*estilizacao footer*/

.footer{

  background-color: rgba(0,0,0,.9);;
  width: 100%;
  color: #fff;
  height: 200px;
  display: flex;
  
  
}

.footer div{

  text-align: center;
  font-size: large;
}

.col-2{

  flex-grow: 2;

}

.footer div h3{

  font-weight: 300;
  margin-bottom:30px;
  letter-spacing: 1px;
}

.col-1 a{

  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  
}

.col-2 a{

  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  
}

.col-2 i{

  display: inline-block;
  text-decoration: none;
  margin-bottom: 39px;
  color: #fff;
  margin-left: 10px;
  
  
}

.footer .col-3 {

  margin-right: 50px;
}

.footer .col-1 {

  margin-left: 20px;
}

#link-luiz{

  font-size: small;
    color: #A7221A;
    
  
}


/* tela home */

h2{
  font-size: 27px;
  font-family: 'Lobster1-4',sans-serif;
  color: #A7221A;
  letter-spacing: 0.9px;
  z-index: 999;
  line-height: 75px;
  text-align: center;
 
}

.home-page h1{

    font-size: 54px;
    font-family: 'Lobster1-4',sans-serif;
    color: #A7221A;
    letter-spacing: 0.9px;
    z-index: 999;
    line-height: 75px;
    text-align: center;
}

.container-destaque{

  width: 88%;
  height: 450px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  
}
.container-destaque .col-1{

  width: 400px;
  text-align: center;
  margin-top: 100px;

}
.container-destaque .col-2{

  width: 400px;
  text-align: center;
  margin-top: 100px;

}
.container-destaque .col-3{

  width: 400px;
  text-align: center;
  margin-top: 100px;

}

.container-destaque img{
  
  width: 300px;
  height: 200px;
 
  
}

.container-dois{

  width: 88%;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  margin-top: 150px;

}


.container-dois img{

text-align: center;
width: 400px;
height: 250px;
border-radius:30px ;
}

.container-dois .col-1{

  width: 400px;
  text-align: center;
  
}

.container-dois .col-2{

  width: 400px;
  text-align: center;
  
}

.container-dois .col-3{

  width: 400px;
  text-align: center;
  
}

.container-tres{

  width: 88%;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;

}
  
  .container-tres .col-1{
  
    width: 400px;
    text-align: center;
    
  }
  
  .container-tres .col-2{
  
    width: 400px;
    text-align: center;
    
  }
  
  .container-tres .col-3{
  
    width: 400px;
    text-align: center;
    
  }

  .container-tres img{
  
    width: 300px;
    
  }

 /* tela contact */

.contact-box1{

  margin-left: 50px;
}
  
  .contact-page h1{

      font-size: 44px;
      font-family: 'Lobster1-4',sans-serif;
      color: #A7221A;
      letter-spacing: 0.9px;
      z-index: 999;
      line-height: 75px;
      
  }

  .contact-page h4{

    font-size: 20px;
    color: #b4a40d;
  }

  .contact-page a{

    font-size: 54px;
    margin: 10px;
    color: rgba(0,0,0,.9);
  }

  .contact-page h3{

    color: #8a1e10;
  }

  .box-feedback{

    margin-left: 50px;
  }

  #bnt{
    padding: 10px;
    margin-left: 325px;
    color: #fff;
    size: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #8a1e10 ; 
    cursor: pointer;   
    
  }

  #txt{

    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    
    
  }

  /* tela cardapio */

  .cardapio-page h1{

    font-size: 50px;
    font-family: 'Lobster1-4',sans-serif;
    color: #A7221A;
    letter-spacing: 0.9px;
    z-index: 999;
    line-height: 75px;
    text-align: center;
  }

  .cardapio-page .col1{


    width: 300px;
    display: inline-block;
    text-align: center;
    margin-right: 200px;
    word-break: break-all;
  }

  .col1 img{
    width: 300px;
  }
  
  
  .cardapio-page .col2{

    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    word-break: break-all;
    
  }

  .col2 img{
    width: 300px;
  }
   
  .cardapio-page h2{

    background-color: #8a1e10;
    color: #ffffffe7;
    border-radius: 12px;
  }
    

  .cardapio-page{

    text-align: center;
    
  }
  
  



